<header>
  <nav class="navbar">
    <div class="container">
      <span>logo</span>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li>ようこそ、<%= current_user.last_name %>さん!</li>
          <li><%= link_to ' マイページ', user_path(current_user) %></li>
          <li><%= link_to '商品一覧', products_path %></li>
          <li><%= link_to 'カート', cart_items_path %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to ' About', homes_about_path %></li>
          <li><%= link_to ' 商品一覧', products_path %></li>
          <li><%= link_to ' 新規登録', new_user_registration_path %></li>
          <li><%= link_to ' ログイン', new_user_session_path %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>